# Игнорирование сгенерированных директорий Vivado
*.cache/
*.hw/
*.sim/
*.runs/
*.ip_user_files/
.Xil/

# Игнорирование логов и временных файлов
*.jou
*.log
*.str
*.os
*.pbs
*.pb
*.wdf
*.dcp

# Игнорирование самого файла проекта (собираем через Tcl)
*.xpr
